<form autocomplete="off" #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
      <label for="productName">Product Name:</label>
      <input required minlength="10" maxlength="200" type="text" 
      ngModel name="productName" #productName="ngModel" id="productName" class="form-control" />
      
      <div class="alert alert-danger" *ngIf="productName.touched && !productName.valid">
        Product name is required
      </div>
    </div>

    <div class="form-group">
      <label for="productPrice">Product Price:</label>
      <input required type="text" ngModel name="productPrice" #productPrice="ngModel" id="productPrice" class="form-control">
      <div class="alert alert-danger" *ngIf="productPrice.touched && !productPrice.valid">Product Name is required field</div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isActive"/> Product is active
        </label>
    </div>

    <div class="form-group">
        <label for="contactMethod">Select Method</label>
        <select class="form-control" ngModel name="contactMethod" id="contactMethod">
           <option *ngFor="let contactM of contactMethods" [value]="contactM.id"> {{ contactM.name }}</option>
        </select>
    </div>
      
    <div class="radio" *ngFor="let contactM of contactMethods">
        <label>
            <input type="radio" ngModel name="rdRadio" [value]="contactM.id"/> {{ contactM.name }}
        </label>
    </div>

    <p>
        {{ f.value | json}}
    </p>
    
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
  </form>
